/* spotify green is rgb(29, 185, 91) */
/*======for toggle switch button =====*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: rgba(147, 236, 181, 0.877);
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: 0 0 1px rgba(147, 236, 181, 0.877);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}
/*========================*/
.hiitify_title {
    color: white;
}

#wi_length {
    text-align:center;
}
#wi_bpm{
    text-align:center;
}
#ri_length{
    text-align:center;
}
#ri_bpm{
    text-align:center;
}
#tw_length{
    text-align:center;
}

#interval_time_remaining{
    font-size: 200px; 
    height: 200px;
    line-height: 200px;
}
#total_time_remaining{
    padding: 10px;
    font-size: 25px; 
    height: 25px;
    line-height: 25px;
}
#chooseWorkoutDiv{
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(216, 213, 213, 0.192), 0 6px 20px 0 rgba(216, 213, 213, 0.445);

    /* used to help stretch speed slider to full width */
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

/* used to make label for beep switch vertically centered */
#beep_switch_label{
    display:inline;
    line-height: 34px;
}
#beep_wrapper{
    text-align: center;
    height: 34px;
    line-height: 34px;
}

/* =============button css =====================*/
/* normal buttons (smaller than start / play / etc. buttons */
.btn-gray {
    border: 2px solid black;
    border-color: #e7e7e7;
    background-color: white;
    color: black;
    padding: 5px 24px;
    border-radius: 25px;
    cursor: pointer;
  }
  .btn-gray:hover {
    background: #e7e7e7;
    transform: scale(1.05) perspective(1px)
  }
   /* for part of cancel button css */
   .cancel-button {
    border: 2px solid black;
    border-color: #e7e7e7;
    background-color: white;
    color: black;
    padding: 14px 28px;
    border-radius: 25px;
    cursor: pointer;
  }
  .cancel-button:hover {
    background: #e7e7e7;
    transform: scale(1.05) perspective(1px)
  }
  /*Green - for start buttons */
  .btn-green {
    border: 2px solid black; 
    background-color:rgb(29, 185, 91);
    color: white;
    padding: 14px 28px;
    border-radius: 25px;
    cursor: pointer;
    border-color: rgb(29, 185, 91);
  }
  .btn-green:hover{
    background-color: green;
    transform: scale(1.05) perspective(1px);
    border-color: green;
  }

  .green {
    border-color: #4CAF50;
    color: green;
  }
  .green:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.05) perspective(1px)
  }

/* uses to make buttons not go together in center of div without margin */
.spacing-horizontal{
    margin-left: 10px;
    margin-right: 10px;
}
.wrapper-div-spacing{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* used for the button that has hiitify toggle / auth functionality */
.auth-button {
    border: 2px solid;
    padding: 14px 28px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(29, 185, 91);
    color: white;
    border-color: rgb(29, 185, 91);
  }
.auth-button:hover {
transform: scale(1.05) perspective(1px);
background-color: white;
border-color: white;
color: rgb(29, 185, 91);
}


/* =========================================*/